!!! XML
!!!
%html
  %head
    %title= @title
    %meta{:name => "robots", :content => "noindex", :charset => "utf-8"}
    = csrf_meta_tag
    = stylesheet_link_tag 'reset', 'style', 'text', 'pdf'
    = javascript_include_tag :defaults
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}
  %body
    -@offer = @couppon.offer
    -offer = @couppon.offer
    .photo
      %img{:src => "http://localhost:3000/images/dealframe.png"}
      %hr


    #company-summary{:style => "float: left;"}
      #picture
        =image_tag @offer.photo(:normal), :width => "200px", :style => "margin-top: 20px"
      %h4 Tu zrealizujesz kupon:
      #contact-details.left{:style => "width: 230px; line-height: 24px;"}
        %strong=@offer.company.short_name
        %p
          =@offer.company.address
          %br
          =@offer.company.zip_code
          %br
          =@offer.company.city
          %br
          =@offer.company.phone_number
          %br
          =mail_to @offer.company.email


    #offer
      %h1=@offer.title
      %p{:style=>"margin-top: -10px;"}=@offer.invoice_description
      %h2
        Wartość kuponu:
        =number_to_currency(@offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
      %h3
        Kod kuponu:
        =@couppon.couppon_code

      %p
        Zabezpieczenie:
        =@couppon.security_code
      %p
        Ważny do:
        =@couppon.expiration_date.strftime("%d-%m-%Y")
      %p
        Kupiony przez:
        ="#{@couppon.user.name} #{@couppon.user.surname}"

      %p=@offer.description
      %p=raw @offer.additional_info
      %p=raw @offer.fine_print
      %p=raw @offer.details unless blank?
    #rest
      #map

