<%= form_for(@user, :html => {:multipart => true}) do |f| %>

  <div id="login" class="details">
    
    <%= f.label :email, "Email:", :class => "left" %>
    <%= f.text_field :email %>
  
    <div class="clear"></div>
    
    <%= f.label :name, "Imię:", :class => "left" %>
    <%= f.text_field :name %>
  
    <div class="clear"></div>
    
    <%= f.label :surname, "Nazwisko:", :class => "left" %>
    <%= f.text_field :surname %>
  
    <div class="clear"></div>
    
    <div class="field">
      <%= f.label :password, "Hasło:", :class => "left" %>
      <%= f.password_field :password %>
    </div> 
    
    <div class="clear"></div>

    <div class="field">
      <%= f.label :password_confirmation, "Hasło:", :class => "left" %>

      <%= f.password_field :password_confirmation %>
    </div>

    <span>(potwierdzenie)</span>
    <div class="clear"></div>
   
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "submit" %>
  </div>
 <br />
<% end %>
