-if !params[:status].nil?
  -if params[:status] == "OK"
    Kupiłeś kupon. Czekamy na weryfikację
  -else
    Coś poszło nie tak..sprawdzamy

=render :partial => 'dashboard'

#content
  -if @user.couppons.paid.blank? && @user.couppons.payment_pending.blank?
    .blank-state
      %h1 Nie masz jeszcze kuponów na swoim koncie.
      %p Tutaj wyświetli się Twoja historia transakcji - wszystkie zakupione i wykorzystane kupony.
      %h2= link_to "Przejdź na stronę główną i kup pierwszy kupon :)", root_path
      %p
        Wybierz interesującą Cię ofertę i dokonaj transakcji. Szczegóły dotyczące realizacji poszczególnych kuponów znajdują się w opisie oferty i na samym kuponie.
  -unless @user.couppons.paid.blank?
    %h2
      %span= image_tag 'promotion.png'
      Wykorzystaj poniższe kupony:

    #offers
      -@user.couppons.paid.each do |couppon|
        -offer = couppon.offer
        .deals{:class => cycle("odd", "even"), :id => "deal-#{offer.id}"}
          .photo
            =image_tag(offer.photo(:normal))
          .content
            %h1= offer.title
            %p.description= offer.description
            %span.code.green
              \#Kod kuponu:
              =couppon.couppon_code
            %hr
            %span.exp
              Ważny do:
              %strong
                =couppon.expiration_date.strftime("%d-%m-%Y")
          .details
            %h3 Kupon zniżkowy:
            .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
            .price-tag
              .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
              .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
        %br
        .actions
          -#=link_to "PDF", {:controller => 'couppons', :action => 'print', :id => couppon.id, :format => 'pdf' }, :class => 'pdf'
          =link_to("PDF", {:controller => 'couppons', :action => 'print', :id => couppon.id, :format => 'pdf' }, :class => 'pdf')
          %br
          %br
  .clear
  -unless @user.couppons.payment_pending.blank?

    %h2
      %span= image_tag 'promotion.png'
      Kupony oczekujące na weryfikację płatności

    %h1
    .payment_pending
      #offers
        -@user.couppons.payment_pending.each do |couppon|
          -offer = couppon.offer
          .deals.pending{:class => cycle("odd", "even"), :id => "deal-#{offer.id}"}
            .photo
              =image_tag(offer.photo(:normal)) if !offer.photo(:normal).blank?
            .content
              %h1= offer.title
              %p.description= offer.description
              %span.code.red
                =couppon.status
              %hr
              %span.exp
                Ważny do:
                %strong
                  =couppon.expiration_date.strftime("%d-%m-%Y")
            .details
              %h3 Kupon zniżkowy:
              .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
              .price-tag
                .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
                .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
          %br
  .clear
  -unless @user.couppons.cancelled.blank?

    %h2
      %span= image_tag 'promotion.png'
      Odmowa:
    %h1
    .payment_pending
      #offers
        -@user.couppons.cancelled.each do |couppon|
          -offer = couppon.offer
          .deals.pending{:class => (offer == couppon.company.offers.first ? "first" : cycle("odd", "even")), :id => "deal-#{offer.id}"}
            .photo
              =link_to(image_tag(offer.photo_url), offer)
            .content
              %h1= link_to offer.title, offer
              %p.description= offer.description
              %span.code.red
                =couppon.status
              %hr
              %span.exp
                Ważny do:
                %strong
                  =couppon.expiration_date.strftime("%d-%m-%Y")
              %span.quo &rsaquo;
              =link_to "Zobacz szczegóły", offer
            .details
              %h3 Kupon zniżkowy:
              .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
              .price-tag
                .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
                .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
          %br
  .clear
  -unless @user.couppons.used.blank?

    %h2
      %span= image_tag 'promotion.png'
      Wykorzystane:

    .used
      %table
        -@user.couppons.used.each do |couppon|
          %tr
            %td
              =couppon.offer.title
            %td
              =link_to couppon.offer.company.short_name, couppon.offer.company
            %td
              =couppon.updated_at.strftime("%d-%m-%Y")
            %td
              %span.red wykorzystany.
    .clear
