=render :partial => 'dashboard'

#content.followed
  -if !@user.following.blank? 
    -@user.following.each do |venue|
      %h2=venue.full_name
      .followed-company-content
        .company
          .new_offers
            -if venue.fresh_offers.blank?
              .empty
                %h3 Brak nowych ofert. 
                Tutaj wyświetlają się tylko oferty dodane w ciągu 
                %strong ostatnich 24h.
                %br
                =link_to "Wejdź na profil firmy", venue
                i sprawdź wszystkie oferty
            -else 
              #offers
                -#=render :partial => "shared/deallist", :locals => { :offers => venue.fresh_offers }
                -venue.fresh_offers.each do |offer|
                  .deals{:class => cycle("odd", "even"), :id => "deal-#{offer.id}"}
                    .photo
                      =image_tag(offer.photo(:normal))
                    .content
                      %h1= offer.title
                      %p.description= offer.description
                      %span.clock= image_tag 'clock.png'
                      =render :partial => 'shared/time_counter', :locals => {:offer => offer }
                      %div{:id => "offer-#{offer.id}", :class => "timer"}
                      %hr
                      %span.quo &rsaquo;
                      =link_to "Zobacz szczegóły", offer
                    .details
                      %h3 Kupon zniżkowy:
                      .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
                      .price-tag
                        .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
                        .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
          .contact-details
            .logo
              -if venue.logo.exists?
                =link_to((image_tag venue.logo(:normal), {:width => "80px" }), venue)
            .info
              %p 
                -unless venue.phone_number.blank?
                  telefon:
                  %strong=venue.phone_number 
              %p=link_to venue.email, :mailto => venue.email unless venue.email.blank?
              %p
                =venue.zip_code + " " + venue.city
                %br
                =venue.address
              =link_to raw("Wszystkie oferty <span class='quo'>&rsaquo;</span>"),  venue, :class => "venue"
          .clear
  -else
    %h1.empty
      Nic do pokazania
    %hr
    /=image_tag 'follow_image.png', :width => "660px"
    .clear
