%h1= @offer.title
=image_tag @offer.photo(:large), :class => "offer-pic"
=raw(@offer.additional_info)
%hr

%span Termin szkolenia:
.offer-body-timer
  %span.clock= image_tag 'clock.png'
  /=render :partial => 'shared/time_counter', :locals => {:offer => @offer, :size => "medium"}
  =@offer.end_date.strftime("%Y-%m-%d %H:%M:%S")
  %div{:id => "offer-#{@offer.id}-medium", :class => "timer-medium"}
  .clear 

.offer-body-details
  .obd-wrapper
    %span.after Cena:
    .price-tag
      .price= number_to_currency(@offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
      /.discount= number_to_percentage("-#{@offer.discount}", :precision => 0)

    =link_to("KUP TERAZ", { :controller => "offers", :action => "purchase", :id => @offer.id }, {:class => "buynow"})
    /%span.before Przed zniżką:
    /.init-price= number_to_currency(@offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
  #company-info
    %strong To szkolenie oferuje:
    #company-logo
      -if @offer.company.logo.exists?
        =link_to(image_tag(@offer.company.logo(:normal)), @offer.company)
    #company-address
      %p
        %strong= link_to @offer.company.full_name, @offer.company
      %p= @offer.company.address
      %p= @offer.company.zip_code + " " + @offer.company.city
  #map-canvas{:style => "width: 249px; height: 160px;"}
  :javascript 
    var latlng = new google.maps.LatLng(#{@offer.company.lat},#{@offer.company.long});
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      myOptions);
    var marker = new google.maps.Marker({
      position: latlng,
      title: "#{@offer.company.short_name}"
    });
      
    marker.setMap(map); 
  #follow_form
    -if signed_in?
      -if current_user.following?(@offer.company)
        =render :partial => "companies/unfollow", :locals => { :company => @offer.company  }
      -else
        =render :partial => "companies/follow", :locals => { :company => @offer.company }
    -else
      .actions.follow= link_to("Obserwuj oferty", :controller => 'sessions', :action => 'new')
