#categories
  =render "shared/categories"


:javascript
  $(function() {
    
    $('.deals').click(function() {
      window.location = "/offers/"+this.id.split("-")[1]
    });
    
    $('.deals').mouseenter(function() {
      $('.check.'+this.id).show();
    });

    $('.deals').mouseleave(function() {
      $('.check.'+this.id).hide();
    });
  });

#offers
  =render "shared/filter"
  -@offers.each do |offer|
    .deals{:class => (offer == @offers.first ? "first" : cycle("even", "odd")), :id => "deal-#{offer.id}"}
      .photo
        =link_to(image_tag(offer.photo_url), offer)
      .content
        %h1= link_to offer.title, offer
        %p.description= offer.description
        %span.clock= image_tag 'clock.png'
        =render :partial => 'shared/time_counter', :locals => {:offer => offer }
        
        %div{:id => "offer-#{offer.id}", :class => "timer"}
        %hr
        %span.quo &rsaquo;
        =link_to "Zobacz szczegóły", offer
      .details
        %h2 Kupon zniżkowy:
        .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
        .price-tag
          .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
          .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
          .clear
      .check{:style => "display: none;", :class => "deal-#{offer.id}"}
    .clear
.clear
