<div class="grid_1">
  <b>Kategorie:</b> <% @categories.each do |category| %>
    <%= link_to category.name, category %><br /> 
  <% end %>
</div>

<div class="grid_11">

  <% @offers.each do |offer| %>
    <div class="grid_2 alpha">
      <%= image_tag offer.photo_url, {:width => "120px", :border => "1px"} %><br />
    </div>
    <div class="grid_4">
      <h1><%= offer.title %></h1>
      <span class="description"><%= offer.description %></span>
      <% 
        finish_time = (offer.end_date - Time.now).to_i 
        hours = finish_time / 3600
        minutes = (finish_time / 60) % 60
        seconds = finish_time % 60
      %> 
      <br /><b><%=hours%>:<%=minutes%>:<%=seconds%></b><br /> 
      <button name="buy-now">KUP TERAZ</button>
      <%= link_to 'Zobacz szczegóły', offer %>
    </div>
    

    <div class="grid_2">
      <div class="offer-info">
        <strong>Kupon zniżkowy</strong><br />
        <span class="offer-value"><%= offer.value %>zł<br /></span>
       
        <span class="offer-price"><%= offer.value - (( offer.value * offer.discount) / 100) %>zł</span>
        <span class="discount-value">-<%= number_to_percentage(offer.discount, {:precision => 0}) %></span>
      </div>
    </div>

    <hr />

  <% end %>

  <br />

  <%= link_to 'New Offer', new_offer_path %>
</div>
<div class="clear"></div>
