.grid_1
  =render "shared/categories"
.grid_16
  -@offers.each do |offer|
    .grid_16.deals{:class => cycle("even", "odd")}
      .grid_4.alpha
        =image_tag offer.photo_url, {:width => "120px", :border => "1px"}
      .grid_7
        %h1= offer.title
        %p.description= offer.description

        =render :partial => 'shared/time_counter', :locals => {:offer => offer }
        
        %div{:id => "offer-#{offer.id}", :class => "timer"}

        =link_to 'Zobacz szczegóły', offer
      .grid_4.details.omega
        %h2 Kupon zniżkowy:
        .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
        .price-tag
          .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
          .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
          .clear
    .clear
.grid_4
  =image_tag 'how_it_works.png'
.clear
