<p id="notice"><%= notice %></p>

<h1>
  <%= number_to_percentage(@offer.discount, {:precision => 0}) %> 
  discount on 
  <%= @offer.title %>
</h1>

<%= image_tag @offer.photo_url, {:width => "180px", :border => "1px"} %>

<p>
  <b>Offer details:</b>
  <%= raw(@offer.additional_info) %>
</p>

<% 
  finish_time = (@offer.end_date - Time.now).to_i 
  hours = finish_time / 3600
  minutes = (finish_time / 60) % 60
  seconds = finish_time % 60
%> 
<b>Do końca:</b> <%=hours%>:<%=minutes%>:<%=seconds%><br /> 

<b>Cena przed zniżką: </b><%= @offer.value %> zł<br />
<h2 style="color: red">Rabat: -<%= number_to_percentage(@offer.discount, {:precision => 0}) %></h2>
<h2>Cena: <%= @offer.value - (( @offer.value * @offer.discount) / 100) %> zł</h2>

<%= link_to 'GET THIS DEAL', purchase_url(:id => @offer.id) %>

<hr />

<h3>Kupon zniżkowy oferuje:</h3>

<%= @offer.company.full_name %><br />
<%= @offer.company.address %><br />
<%= @offer.company.zip_code + " " + @offer.company.city %><br />


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
