<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

<% unless @category.offers.blank? %>

  <% @category.offers.each do |offer| %>
    <%= image_tag offer.photo_url, {:width => "180px", :border => "1px"} %><br />
    <b>Tytuł:</b> <%= offer.title %><br />
    <b>Opis:</b> <%= offer.description %><br />
    <% 
      finish_time = (offer.end_date - Time.now).to_i 
      hours = finish_time / 3600
      minutes = (finish_time / 60) % 60
      seconds = finish_time % 60
    %> 
    <b>Do końca:</b> <%=hours%>:<%=minutes%>:<%=seconds%><br /> 
    <b>Cena przed zniżką: </b><%= offer.value %> zł<br />
    <b>Rabat: </b>-<%= number_to_percentage(offer.discount, {:precision => 0}) %>
    <h2>Price:<h2><%= offer.value - (( offer.value * offer.discount) / 100) %> zł</h2>

    <button name="buy-now">KUP TERAZ</button>
    <%= link_to 'Show', offer %>
    <br /><br />
  <hr />
  <% end %>
<% else %>
  Na razie nic nie dają w tej kategorii...<br />
  <%= image_tag "http://t3.gstatic.com/images?q=tbn:ANd9GcSF4tCtdVsB8yVzBLa4ThUrhoBj6t2O5FKcnE0HGHOkjnZdQ1EC-Q" %><br />
<% end %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', offers_path %>
