#categories
  =render "shared/categories"
#offers 
  =render "shared/filter"
  -unless @category.active_offers.blank?
    -@category.active_offers.each do |offer|
      .deals{:class => (offer == @category.active_offers.first ? "first" : cycle("even", "odd"))}
        .photo
          =link_to(image_tag(offer.photo_url), offer)
        .content
          %h1= link_to offer.title, offer
          %p.description= offer.description
          %span.clock= image_tag 'clock.png'
          =render :partial => 'shared/time_counter', :locals => {:offer => offer }
          
          %div{:id => "offer-#{offer.id}", :class => "timer"}
          %br
          %span.quo &rsaquo;
          =link_to 'Zobacz szczegóły', offer
        .details
          %h2 Kupon zniżkowy:
          .init-price= number_to_currency(offer.value, :unit => 'zł', :format => '%n %u', :precision => 0)
          .price-tag
            .price= number_to_currency(offer.price, :unit => 'zł', :format => '%n %u', :precision => 0)
            .discount= number_to_percentage("-#{offer.discount}", :precision => 0)
            .clear
      .clear
  -else
    .grid_16.push_4
      Na razie nic nie dają w tej kategorii...<br />
      =image_tag "http://t3.gstatic.com/images?q=tbn:ANd9GcSF4tCtdVsB8yVzBLa4ThUrhoBj6t2O5FKcnE0HGHOkjnZdQ1EC-Q"

.clear
