!!! XML
!!!
%html
  %head
    %title= @title
    %meta{:name => "robots", :content => "noindex"}
    = csrf_meta_tag
    = stylesheet_link_tag 'reset', 'style', 'text' 
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.countdown.js"
  %body
    #top-info Witamy w Dealframe - Wersja alpha 0.1 

    .wrapper
      %section.round
        -flash.each do |key, value|
          .flash{:class => "#{key}"}= value

      #left-col
        #header
          #logo= link_to(image_tag('dealframe.png'), '/offers')
          -if params[:controller] == 'offers' && params[:action] == 'index'
            #doodles
          .clear
        %div{:class => "page", :id => "page-#{params[:controller]}-#{params[:action]}"} 
          =yield
          .clear
      #right-col
        .top-menu
          %ul
            %li
              %span.quo &rsaquo;
              =link_to 'Dealframe dla biznesu', '#'
            %li
              %span.quo &rsaquo;
              =link_to 'Blog', '#'
            -if signed_in?
              %li
                %span.quo &rsaquo;
                ="Zalogowany jako: #{current_user.email}"
              %li= link_to "Mój Dealframe", current_user
              %li= link_to "Wyloguj", signout_path, :method => :delete
            -else
              %span.quo &rsaquo;
              %li= link_to "Zaloguj się", signin_path
        #add-offer
          link dodaj ofertę
        
        #sidebar
          =image_tag 'how_it_works.png'
          =image_tag 'separator.png'
          =image_tag 'partners.png'
          %br
          =link_to(image_tag('logo_vedia.gif'),"http://vedia.pl")
      .clear
