!!! XML
!!!
%html
  %head
    %title= @title
    %meta{:name => "robots", :content => "noindex"}
    = csrf_meta_tag
    = stylesheet_link_tag 'reset', 'style', 'text', 'purchase' 
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.countdown.js", "jquery.countdown-pl.js"
  %body
    #top-info Witamy w Dealframe - Wersja alpha 0.1 

    .wrapper
      %section.round
        -flash.each do |key, value|
          .flash{:class => "#{key}"}= value
      =render :partial => "shared/header"
      #left-col
      %div{:class => "page", :id => "page-#{params[:controller]}-#{params[:action]}"} 
        =yield
        .clear
